@model CoWS.PayrollVouchers.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h2>@ViewBag.Title</h2>
<p class="col-md-10 k-text-success">@ViewBag.SuccessMessage</p>
<p class="col-md-10 k-text-error">@ViewBag.ErrorMessage</p>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "k-textbox" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "k-textbox" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "k-textbox" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change Password" class="k-button" />
        </div>
    </div>
    <div>Passwords must be at least six characters in length, have at least one non-letter or digit character, at least one lowercase ('a'-'z'), and have at least one uppercase ('A'-'Z').</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}