@{
    ViewBag.Title = "Reset Password";
}

@section scripts {
    <script src="~/Scripts/CoWS/security.js"></script>
}

<h2>@ViewBag.Title</h2>
<p id="successMessage" class="col-md-10 k-text-success"></p>
<p id="errorMessage" class="col-md-10 k-text-error"></p>
<div class="row">
    <div class="col-md-8">
        <section id="resetForm">
            @using (Html.BeginForm("ResetPassword", "Security", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2 control-label">User</label>
                    <div class="col-md-10">
                        @(Html.Kendo().DropDownList()
                        .Name(componentName: "ddlUsers")
                        .HtmlAttributes(new { @class = "k-dropdown" })
                        .DataTextField("FullName")
                        .DataValueField("UserID")
                        .AutoBind(true)
                        .OptionLabel("Select User...")
                        .Filter(FilterType.Contains)
                        .DataSource(dataSource => dataSource
                        .Read(read => read.Action(actionName: "GetUsers", controllerName: "Security")))
                        )
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @(Html.Kendo().Button()
                            .Name(componentName: "btnReset")
                            .HtmlAttributes(new { type = "button", @class = "k-button" })
                            .Content(content: "Reset Password")
                            .Events(ev => ev.Click(handler: "btnResetPassword_onClick"))
                        )
                    </div>
                </div>
                <div class="validation">
                    @Html.ValidationSummary(false, "", new { @class = "validation_ul" })
                </div>
            }
        </section>
    </div>
</div>